{% extends "layout.html.twig" %}

{% block main %}
<div class="footer header-news-page">
    <!-- Social media links -->
    <div class="i-foot">
        <a href="index.php?route=membership-register">Adhérer</a>
        <a href="index.php?route=donation">Faire un don</a>
        <a href="index.php?route=home">Accueil</a>
    </div>
</div>
<section class="news-section">
    {% for newsItem in news %}
        <article class="news-item art">
            <h2>{{ newsItem.title }}</h2>
            {% if newsItem.image %}
                <img src="{{ newsItem.image }}" alt="{{ newsItem.title }}">
            {% endif %}
            <p class="date">Publiée le {{ newsItem.publicationDate|date("d/m/Y") }}</p>
            <p class="P-excerpt">{{ newsItem.excerpt }}</p>
            <div>{{ newsItem.content | raw }}</div>
            {% if newsItem.video %}
                <div class="youtube-video">
                    <iframe width="350" height="250" src="{{newsItem.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
        </article>
    {% else %}
        <p>Aucune actualité trouvée.</p>
    {% endfor %}
</section>
    
{% endblock %}